.tiptap {
	/* List styles */
	/* Heading styles */
	/* Code and preformatted text styles */
}
 .tiptap :first-child {
	 margin-top: 0;
}
 .tiptap ul, .tiptap ol {
	 padding: 0 1rem;
	 margin: 1.25rem 1rem 1.25rem 0.4rem;
}
 .tiptap ul li p, .tiptap ol li p {
	 margin-top: 0.25em;
	 margin-bottom: 0.25em;
}
 .tiptap h1, .tiptap h2, .tiptap h3, .tiptap h4, .tiptap h5, .tiptap h6 {
	 line-height: 1.1;
	 text-wrap: pretty;
}
 .tiptap h1 {
	 font-size: 1.6rem;
	 font:600;
}
 .tiptap h2 {
	 font-size: 1.4rem;
	 font:500;

}
 .tiptap h3 {
	 font-size: 1rem;
	 font: 400;
}
 .tiptap h4, .tiptap h5, .tiptap h6 {
	 font-size: 1rem;
}
 .tiptap code {
	 background-color: #c7c7c7;
	 border-radius: 0.4rem;
	 color: black;
	 font-size: 0.85rem;
	 padding: 0.25em 0.3em;
}
 .tiptap pre {
	 background: black;
	 border-radius: 0.5rem;
	 color: white;
	 font-family: 'JetBrainsMono', monospace;
}

 .tiptap pre code {
	 background: none;
	 color: inherit;
	 font-size: 0.8rem;
	 padding: 0;
}
 .tiptap blockquote {
	 border-left: 3px solid #c7c7c7;
	 margin: 1.5rem 0;
	 padding-left: 1rem;
}

 
.tiptap ul {
	list-style-type:disc;
}
.tiptap ol {
	list-style-type:decimal;
}